doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
    body
        div 
            form(action="/sale" method="POST")
                h1 Enter New Order 
                div
                    label Customer:
                    input(type="text" name="name")
                br
                div
                    label Account Type:
                    input(type="text" name="type")
                br
                div
                    label Product:
                    input(type="text" name="quantity")
                br
                div
                    label Quantity:
                    input(type="number" name="quantity")
                br
                div
                    label Price:
                    input(type="number" name="price")
                br
                div
                    label Amount:
                    input(type="number" name="amount")
                br

                button(type="submit" style="background-color: blue; border-radius: 5px;") Submit