doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
    body
        div 
            form(action="/workers/worker-form" method="POST")
                h1 Create New Profile
                div
                    label First Name:
                    input(type="text" name="firstname")
                br
                div
                    label SurName:
                    input(type="text" name="surname")
                br
                div
                    label Email:
                    input(type="text" name="email")
                br
                div
                    label Branch:
                    input(type="text" name="branch")
                br
                div
                    label Role:
                    input(type="text" name="role")

                br
                button(type="submit" style="background-color: blue; border-radius: 5px;") Submit