doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" type='text/css')
        link(rel="stylesheet" href="/css/forms.css")
    body
        .container
            h3(style='text-align:center;') Record New Order
            br
            .row
                .offset-md-3.col-md-6
                    form(method='POST' action='/sale/new-order' name='salesForm')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='branch') Branch
                                select.form-control#branch(name="branch", style='padding:10px' required)
                                    option(value="" selected disabled) Select Branch
                                    option(value="Jinja") Jinja
                                    option(value="Mubende") Mubende
                            .col-md-6
                                label.col-sm-2.col-form-label(for='buyer') Customer
                                input#buyer.form-control(type='text' name='buyer')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='itemName') Item
                                select.form-control#itemName(name="itemName", type='text', style='padding:10px' required)
                                    option(value="" selected disabled) Select Item
                                    each product in productList
                                        option(value=product.itemName data-price=product.price) #{product.itemName}         
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='quantity') Quantity
                                input#quantity.form-control(type='number' name='quantity')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='price') Price
                                input#price.form-control(type='number' name='price' readonly)
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='amount') Amount
                                input#amount.form-control(type='number' name='amount')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='agent') Sales Agent
                                input#agent.form-control(type='text' name='agent')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='date') Date
                                input#date.form-control(type='date' name='date')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='time') Time
                                input#time.form-control(type='time' name='time')

                        button.btn.btn-primary(type='submit') Submit
                                br
                    a(href='/sale') Sales
                    br
                    a(href='/sale/sales-list') View Order List
                    
                   
script(src='/js/bootstrap.min.js')
script(src='/js/createSale.js')
script(src='/js/sale.js')
  