doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
    body
        div 
            form(action="/workers/new" method="POST")
                h1 Create New Profile
                div
                    label Name:
                    input(type="text" name="name")
                br
                div
                    label Designation:
                    input(type="text" name="designation")
                br
                div
                    label Branch:
                    input(type="text" name="branch")

                br
                button(type="submit" style="background-color: blue; border-radius: 5px;") Submit