doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" type='text/css')
    body
        .container
            h3(style='text-align:center;') Record New Credit
            br
            .row
                .offset-md-3.col-md-6
                    form(method='POST' action='/sale/new-credit')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='buyer') Customer
                                input#staticEmail.form-control(type='text' name='buyer')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='nin') NIN
                                input#staticEmail.form-control(type='number' name='id')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='location') Location
                                input#staticEmail.form-control(type='text' name='location')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='contact') Contact
                                input#staticEmail.form-control(type='number' name='contact')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='itemName') Item
                                input#staticEmail.form-control(type='text' name='itemName')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='quantity') Quantity
                                input#staticEmail.form-control(type='number' name='quantity')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='amount') Amount Due
                                input#staticEmail.form-control(type='number' name='amount')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='date') Due Date
                                input#staticEmail.form-control(type='date' name='date')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='agent') Sales Agent
                                input#staticEmail.form-control(type='text' name='agent')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='date') Dispatch Date
                                input#staticEmail.form-control(type='date' name='date')
                            

                        button.btn.btn-primary(type='submit') Submit
                                br
                    a(href='/sale') Sales
                    br
                    a(href='/sale/credit-list') View Credit List
                    
                   
script(src='/js/bootstrap.min.js')

  