doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" type='text/css')
    body
        .container
            h3(style='text-align:center;') Record New Purchase
            br
            .row
                .offset-md-3.col-md-6
                    form(name='editProduct' method='POST' action='/product/newProduct?name=' +product._name) 
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='branch') Branch
                                input#branch.form-control(type='text' name='branch')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='name') Produce Name
                                input#staticEmail.form-control(type='text' name='name')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='type') Produce Type
                                input#staticEmail.form-control(type='text' name='type')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='quantity') Quantity in Kgs
                                input#staticEmail.form-control(type='number' name='quantity')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='cost') Cost Price
                                input#staticEmail.form-control(type='number' name='cost')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='nameOfDealer') Supplier
                                input#staticEmail.form-control(type='text' name='nameOfDealer')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='contactNumber') Contact
                                input#contactNumber.form-control(type='number' name='contactNumber')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='price') Sell Price
                                input#staticEmail.form-control(type='number' name='price')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='date') Date
                                input#staticEmail.form-control(type='date' name='date')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='time') Time
                                input#staticEmail.form-control(type='time' name='time')

                        button.btn.btn-primary(type='submit') Submit
    
                   
                    a(href='/product/product-list') View Purchase List
                    
                   
script(src='/js/bootstrap.min.js')
