doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
body
.container
  h3(style='text-align:center;') Record New Order
    br
    .row
      form(name='registration' method='POST' action='/sale/editSales?id=' +order._id)
      .mb-3.row
        .col-md-6
          label.col-sm-2.col-form-label(for='buyer') Customer
          input#staticEmail.form-control(type='text' name='buyer')
        .col-md-6
          label.col-sm-2.col-form-label(for='itemName') Item
          input#staticEmail.form-control(type='text' name='itemName')
      .mb-3.row
        .col-md-6
          label.col-sm-2.col-form-label(for='quantity') Quantity
          input#staticEmail.form-control(type='number' name='quantity')
        .col-md-6
          label.col-sm-2.col-form-label(for='amount') Amount
          input#staticEmail.form-control(type='number' name='amount')
      .mb-3.row
        .col-md-6
          label.col-sm-2.col-form-label(for='agent') Sales Agent
          input#staticEmail.form-control(type='text' name='agent')
      .mb-3.row
        .col-md-6
          label.col-sm-2.col-form-label(for='date') Date
          input#staticEmail.form-control(type='date' name='date')
        .col-md-6
          label.col-sm-2.col-form-label(for='time') Time
          input#staticEmail.form-control(type='time' name='time')
          br
          button.btn.btn-primary(type='submit' style='items-align:center') Submit
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
