<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/landing.css">
    <title>Landing Page</title>
</head>
<body>
<header id="landing">
    <h1>Welcome to Karibu Groceries Ltd</h1>
    <p>Your one stop grain hub</p>
    <a href="#" class="button">Login</a>
</header>  
<section id="section-a">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit accusantium earum dolores voluptatem, corporis natus dignissimos. Explicabo aliquam nobis nihil.</p>
</section>
<section id="section-b">
<div class="box1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quidem.
</div>
<div class="box2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quidem.
</div>
<div class="box3">
    Developed by Elizabeth Mutesi &copy; 2022
</div>
</section>
</body>
</html>