doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/landing.css')
  title Landing Page
body
header#landing
  h1 Welcome to Karibu Groceries Ltd
  p Your one stop grain hub
  a.button(href='#') Login
section#section-a
  p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit accusantium earum dolores voluptatem, corporis natus dignissimos. Explicabo aliquam nobis nihil.
section#section-b
  .box1
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quidem.
  .box2
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quidem.
  .box3
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quidem.
