doctype html
head
  title Login Form
  link(rel='stylesheet' href='/public/css/login.css')
  link(rel='stylesheet' href='/public/css/bootstrap 5.1.3/css/bootstrap.css')
body
    .container-fluid.bg-main
    .row(style='border: 15px;')
        .col-md-4.offset-md-4.bg-light.login-box
        .mb-3
            h2(style='text-align: center')  Login 
            br
            form.w3docs(name='RegForm' action='' method='post' onsubmit='return validationForm()')
            div
                label(for='Name') User Name:
                input#Name.style.border.line(type='text' size='40' name='Name')
            br
            div
                label(for='E-mail') E-mail Address:
                input#Email.style.border.line(type='text' size='40' name='Email')
            br
            div
                label(for='Password') Password:
                input#Password.style.border.line(type='text' size='40' name='Password')
                a(href='#')
                h6(style='font-size: small;') Forgot Password?
            br
           
            .buttons
                input(type='submit' value='Submit' name='Submit')
    script(src='/public/jslogin.js')
