doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/login.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
body
.container-fluid.bg-main
  .row
    h4(style='font-size:35px; padding-right:3rem') Welcome
    br
    p #{loginerror}
    form.col-md-4.offset-md-4(method="POST" action="/workers/login" name="login" onsubmit='return validationForm()' style="align-items:center; background-color:rgb(231, 229, 236);height:65vh; color:rgb(29, 23, 88); padding:25px; font-size:18px; border-radius:10px;")
      .mb-3
        label.form-label(for='email') Email
        input#email.form-control(type='email' name='email' style='padding:8px;')
      .mb-3
        label.form-label(for='password') Password
        input#password.form-control(type='password' name='password' style='padding:8px')
      a(href='#' style='font-size:15px; color:rgb(59, 59, 231)') Forgot Password?
      br
      br
      button(type='submit' style='border-radius:5px' ) Log Me In
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
script(src='/js/login.js')