doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/directorDash.css')
  link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')
  link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  title Karibu Groceries Ltd
body
    .sidebar
        .logo-details
            i.bx.bx
            span.logo_name Karibu Groceries
        ul.nav-links
            li
                a.active(href='/managerDash')
                    span.material-symbols-sharp
                        | grid_view
                    span.links Dashboard
            li
                a(href='/product/product-list')
                    span.material-symbols-sharp
                        | shopping_bag
                    span.links Purchases
            li
                a(href='/sale')
                    span.material-symbols-sharp
                        | receipt_long
                    span.links Sales
            li
                a(href='#')
                    span.material-symbols-sharp
                        | people
                    span.links Customers
            li
                a(href='#')
                    span.material-symbols-sharp
                        | person
                    span.links Suppliers
            li
                a(href='#')
                    span.material-symbols-sharp
                        | inventory
                    span.links_name Stock
            li
                a(href='#')
                    span.material-symbols-sharp
                        | report
                    span.links_name Reports
            li.log_out
                a(href='/logout')
                    span.material-symbols-sharp
                        | logout
                    span.links Log out
    section.home-section
        nav
            .sidebar-button
                i.bx.bx-menu.sidebarBtn
                span.dashboard Dashboard
            .search-box
                input(type='text' placeholder='Search...')
                i.bx.bx-search
            .profile-details
                // <img src="images/profile.jpg" alt="">
                span.admin_name Hello #{user.firstname}
        .home-content
            .all
            .circle-wrap
                .circle
                .mask.full-1
                    .fill-1
                .mask.half
                    .fill-1
                .inside-circle  85% 
            .circle-wrap
                .circle
                .mask.full-2
                    .fill-2
                .mask.half
                    .fill-2
                .inside-circle  65% 
            .circle-wrap
                .circle
                .mask.full-3
                    .fill-3
                .mask.half
                    .fill-3
                .inside-circle  75% 


script(src='/js/bootstrap.min.js')
script.
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
  }else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }




