doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/nav.css')
  link(rel='stylesheet' href='/css/managerDash.css')
  link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  title Karibu Groceries Ltd
body
    .sidebar
        br
        .logo-details
            //- img(src="/images/logo1.jpg" alt="logo" style="width:180px; height:100px")
            h3 KARIBU GROCERIES LTD
        ul.nav-links
            li
            a(href='/product')
                span.material-symbols-sharp
                    | shopping_bag
                span.links_name Purchases
            li
            a(href='/sale')
                span.material-symbols-sharp
                    | receipt_long
                span.links_name Sales
            li
            a(href='#')
                span.material-symbols-sharp
                    | inventory
                span.links_name Stock
            li
            a(href='#')
                span.material-symbols-sharp
                    | group
                span.links_name Customers
            li
            a(href='/workers')
                span.material-symbols-sharp
                    | person_filled
                span.links_name Suppliers
            li
            a(href="/logout")
                span.material-symbols-sharp
                    | logout
                span.links_name Logout
    .nav
        .nav-links
            ul



            
    










script(src='/js/bootstrap.min.js')




