doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css")  
    .container
        .row
            .offset-md-3.col-md-6
                form(method='POST' action='/product-form')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='branch') Branch
                        input#staticEmail.form-control(type='text' readonly='' name='branch')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='name') Name
                        input#staticEmail.form-control(type='text' readonly='' name='name')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='type') Type
                        input#staticEmail.form-control(type='text' readonly='' name='type')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='source') Source
                        input#staticEmail.form-control-plaintext(type='text' readonly='' name='source')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='quantity') Quantity
                        input#staticEmail.form-control-plaintext(type='number' readonly='' name='quantity')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='cost') Cost
                        input#staticEmail.form-control-plaintext(type='number' readonly='' name='cost')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='nameOfDealer') Supplier
                        input#staticEmail.form-control-plaintext(type='text' readonly='' name='nameOfDealer')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='contact') Contact
                        input#staticEmail.form-control-plaintext(type='number' readonly='' name='contact')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='date') Date
                        input#staticEmail.form-control-plaintext(type='date' readonly='' name='date')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='time') Time
                        input#staticEmail.form-control-plaintext(type='time' readonly='' name='time')
                .mb-3.row
                    .col-md-6
                        label.col-sm-2.col-form-label(for='price') Price
                        input#staticEmail.form-control-plaintext(type='number' readonly='' name='price')

                    button.btn.btn-primary(type='submit') Submit
script(src='/js/bootstrap.min.js')

  



    
   
   
    