doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" type='text/css')
        link(rel="stylesheet" href="/css/forms.css" type='text/css')
    body
        .container
            h3(style='text-align:center;') Record New Purchase
            br
            .row
                .offset-md-3.col-md-6
                    form(method='POST' action='/product/newProduct')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='branch') Branch
                                    select.form-control#branch(name="branch", style='padding:10px' required)
                                        option(value="" selected disabled) Select Branch
                                        option(value="Jinja") Jinja
                                        option(value="Mubende") Mubende
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='itemName') Produce Name
                                    select.form-control#itemName(name="itemName", type='text', style='padding:10px' required)
                                            option(value="" selected disabled) Select Item
                                            option(value="Beans") Beans
                                            option(value="G_nuts") G.Nuts
                                            option(value="Maize") Maize
                                            option(value="Peas") Peas
                                            option(value="Soyabean") Soyabean
                            .col-md-6
                                label.col-sm-2.col-form-label(for='type') Produce Type
                                    select.form-control#type(name='type', type='text' required)
                                        option(value="" selected disabled) Select Type
                                        option(value="Cereals") Cereals
                                        option(value="Legumes") Legumes  
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='quantity') Quantity in Kgs
                                input#staticEmail.form-control(type='number' name='quantity')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='cost') Cost Price
                                input#staticEmail.form-control(type='number' name='cost')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='nameOfDealer') Supplier
                                input#staticEmail.form-control(type='text' name='nameOfDealer')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='contactNumber') Contact
                                input#contactNumber.form-control(type='number' name='contactNumber')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='price') Sell Price
                                input#price.form-control(type='number' name='price')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='amount') Amount
                                input#amount.form-control(type='number' name='amount')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='date') Date
                                input#staticEmail.form-control(type='date' name='date')
                            .col-md-6
                                label.col-sm-2.col-form-label(for='time') Time
                                input#staticEmail.form-control(type='time' name='time')

                        button.btn.btn-primary(type='submit') Submit
                                br
                    a(href='/product') Purchases
                    br
                    a(href='/product/product-list') View Purchase List
                    
                   
script(src='/js/bootstrap.min.js')

  



    
   
   
    