doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/nav.css')
  link(rel='stylesheet' href='/css/regular.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp')
  title Karibu Groceries Ltd
body
    .container-main
        .row
            .col-md-8-offset-md-2
                nav.navbar
                    .container-nav
                        p(style='color:rgb(0, 128, 0, 0.973);') KARIBU GROCERIES LTD
        
                    


    a.btn.btn-warning(href="/logout" style='background-color:#f1da06') Log out
    script(src='/js/bootstrap.min.js')



