doctype html3
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.min.css')
        link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')
        link(rel='stylesheet' href='/css/directorDash.css')
        link(rel='stylesheet' href='/css/regular.css')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        title Karibu Groceries
    body
        .sidebar
            .logo-details
                i.bx.bx
                img(src="/images/KARIBU.jpg", alt="logo", class='logo-img')
                span.logo_name 
            ul.nav-links
                li
                    a.active(href='/regularDash' id='sideNav1')
                        span.material-symbols-sharp
                            | grid_view
                        span.links Dashboard
                li
                    a(href='/sale/new-order')
                        span.material-symbols-sharp
                            | receipt_long
                        span.links Record Cash Sale
                li
                    a(href='/sale/new-order')
                        span.material-symbols-sharp
                            | credit_card
                        span.links Record Credit Sale
                li
                    a(href='#')
                        span.material-symbols-sharp
                            | list
                        select#sales-link
                            option(value="" selected disabled) Sales Lists
                            //option(value="")
                            option(value="Cash" data-link="/sale/sales-list") Cash Sales 
                                
                            option(value="Credits" data-link="/sale/credit-list") Credit Sales
                        span.links 
                li
                    a(href='#')
                        span.material-symbols-sharp
                            | people
                        span.links Customers
                li
                    a(href='#')
                        span.material-symbols-sharp
                            | inventory
                        span.links_name Stock
                li
                    a(href='#')
                        span.material-symbols-sharp
                            | receipt
                        span.links_name Generate Receipt
                li
                    a(href='/invoice')
                        span.material-symbols-sharp
                            | description
                        span.links_name Generate Invoice
                li.log_out
                    a(href='/logout')
                        span.material-symbols-sharp
                            | logout
                        span.links Log out
        section.home-section
            nav
                .sidebar-button
                    i.bx.bx-menu.sidebarBtn
                    span.dashboard Dashboard
                .search-box
                    input(type='text' placeholder='Search...')
                    i.bx.bx-search
                .profile-details
                    // <img src="images/profile.jpg" alt="">
                    span.admin_name Welcome,  #{user.firstname}
            .home-content
                .overview-boxes
                    .box1
                        .box-topic Total Sales
                        .numbers #{agentTotalSales} 
                    .box1
                        .box-topic Cash Sales
                        .numbers #{cashSalesagent}
                    .box1
                        .box-topic Credit Sales
                        .numbers #{creditSalesagent}

script(src='/js/bootstrap.min.js')
script.
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
  }else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
script(src="/js/sale.js")
   
