        
        //- nav.navbar.navbar-expand-lg(style='background-color:rgba(0, 128, 0, 0.973)')
        //-         a.Navbar.logo.navbar-brand(href='#')
        //-             p KARIBU GROCERIES LTD     
        .sidebar
            br
            .logo-details
                h3 KARIBU GROCERIES
            ul.nav-links
                li
                a(href='/managerDash')
                    span.material-symbols-sharp
                        | grid_view
                    span.links_name Home
                li
                a(href='/product/product-form')
                    span.material-symbols-sharp
                        | description
                    span.links_name New Purchase
                li
                a(href='/product/product-list')
                    span.material-symbols-sharp
                        | edit_square
                    span.links_name Manage Purchases
                li
                a(href='/product/stock-list')
                    span.material-symbols-sharp
                        | inventory
                    span.links_name Stock List
                li
                a(href='#')
                    span.material-symbols-sharp
                        | report
                    span.links_name Reports
                li
                a(href="/logout")
                    span.material-symbols-sharp
                        | logout
                    span.links_name Logout