.sidebar
        .logo-details
            i.bx.bx
            span.logo_name Karibu Groceries
        ul.nav-links
            li
                a.active(href='#')
                    i.bx.bx-grid-alt
                    span.links Dashboard
            li
                a(href='/product/product-list')
                    i.bx.bx-box
                    span.links Purchases
            li
                a(href='/sale/sales-list')
                    i.bx.bx-money
                    span.links Sales
            li
                a(href='#')
                    i.bx.bx-bar-chart
                    span.links Customers
            li
                a(href='#')
                    i.bx.bx-list-ul
                    span.links Stock
            li.log_out
                a(href='/logout')
                    i.bx.bx-log-out
                    span.links Log out