const cashSalesmgr = await saleModel.aggregate([{
            "$group": {
                _id:"$all",
                amount:{$sum:"$amount"}
            }
        }])
        const JinjaMgrCreditSales = await creditSaleModel.aggregate([
            {
                $match: { branch: "Jinja" }
             },
          
            {
            "$group": {
                _id:"$all",
                amount:{$sum:"$amount"}
            }
        }])
        const MubendeMgrCreditSales = await creditSaleModel.aggregate([
            {
                $match: { branch: "Mubende" }
             },
          
            {
            "$group": {
                _id:"$all",
                amount:{$sum:"$amount"}
            }
        }])
        const total = (mgrCreditSales.length > 0 && cashSalesmgr.length > 0) ?mgrCreditSales[0].amount + cashSalesmgr[0].amount : 0 
    console.log(mgrCreditSales)


    totalcredit: (creditSalesmgr[0].amount).toLocaleString("en", {style : "currency", currency:"UGX"}),
        mgrSales: (cashSalesmgr[0].amount).toLocaleString("en", {style : "currency", currency:"UGX"}),
        totalSalesmgr: total.toLocaleString("en", {style : "currency", currency:"UGX"})