*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
}
#landing{
    background-image: url('/images/pexels-sunset.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#landing h1{
    font-size: 50px;
    line-height: 1.2;
}
#landing p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
#landing .button{
    font-size: 18px;
    text-decoration: none;
    background-color:rgba(0, 128, 0, 0.973) ;
    color: #fff;
    border: 1px solid;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 10px;
}
#landing .button:hover{
    background-color: #fff;
    color: rgba(0, 128, 0, 0.973);
}
#section-a{
    padding: 15px;
    background-color:rgba(0, 128, 0, 0.973) ;
    color: #fff;
    text-align: center;
}
#section-c{
    padding: 10px;
    background-color:rgba(0, 128, 0, 0.973) ;
    color: #fff;
    text-align: center;
}
#section-b{
    padding: 20px 0;
    background-color: rgba(247, 244, 244, 0.973);
    text-align: center;
}
#section-b{
    display: flex;
}
#section-b div{
    padding: 10px;
}
#section-b .box1, #section-b .box2{
    background-color: rgba(247, 244, 244, 0.973);
    color: rgba(0, 128, 0, 0.973);
}
