.container {
  background-image: url(/public/images/corn-dusan.png);
  margin-left: 40px;
  font-weight: bold;
  text-align: left;
  font-family: sans-serif, bold, Arial, Helvetica;
  font-size: 14px;
}
.buttons {
  display: flex;
  align-items: center;
  width: 100%;
}
.row {
  padding-top: 60px;
  font-size:30px; 
  color:rgba(0, 128, 0, 0.973); 
  padding-bottom:2rem;  
  text-align:left;
}
.col {
  border-radius: 20%;
}
div input {
  margin-right: 20px;
  
}
form {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  background-color:rgb(217, 233, 216);
  margin-top: 30px;
  border-radius: 20px;
}
form input {
  padding: 30px;
  width: 8cm;
}
form select {
  background-color: #ffffff;
  padding: 5px;
}
form label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: rgba(0, 128, 0, 0.973);
  margin-top: 2rem;
}
input[type=submit]:hover {
  background-color: rgba(0, 128, 0, 0.973);
  color: #ffffff;
  border: none;
  border-radius: 10%;
  font-size: 18px;
  font-weight: 500;
} 
h4 {
color: rgba(0, 128, 0, 0.973);
font-weight: 500;
text-align: center;
font-display: bold;
margin-bottom:5px ;
}
h6 {
color:rgb(59, 59, 231);
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type=submit] {
color: rgba(0, 128, 0, 0.973);
}
.login-box {
border-radius: 15px;
margin-bottom: 20rem;
}
.bg-main {

/* background: url() no-repeat contain; */

  /* The background image */
  background-image: url("#");

  /* Set a specified height, or the minimum height for the background image */
  min-height: 100vh;

  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;

  /* Center the background image */
  background-position: center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: cover;
}

 