
.overview-boxes .box{
  display:inline-block;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  height: 150px;
  margin-right: 12px;
}
.overview-boxes .box-topic{
  font-size: 22px;
  font-weight: 500;
  margin-top: 2px;
  color:rgba(0, 128, 0, 0.973) ;
}
.overview-boxes .box-topic .numbers{
  font-size: 24px;
  font-weight: 500;
  margin-top: 4px;
  color:rgba(0, 128, 0, 0.973) ;
}
