p {
    color: rgb(245, 245, 245);
    font-size: large;
    font-weight: bold;
}
a.btn.btn {
    background-color: whitesmoke;
    align-items: right;
}
.container-fluid {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

