body {
    margin-top: 0px;
    margin-bottom: 2rem;
    border: 0;
    background-color: rgba(211, 208, 208, 0.973);
    border-radius: 15px;
   
}
.home-content{
  position: flex;
  padding-top: 10px;
  width: calc(100% / 3 - 15px);
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 10px;
  margin-bottom: 0;
}
.home-content .overview-boxes .box1{
    display:relative;
    align-items: center;
    justify-content: center;
    width:100%;
    background: #fff;
    padding: 15px 14px;
    white-space: nowrap;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    height: 150px;
    margin-right: 12px;
    margin-top: 20px;
  }
  .overview-boxes .box2{
    display:inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    padding: 15px 14px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    height: 150px;
    margin-right: 12px;
    margin-top: 10px;
    white-space: nowrap;
  }
  .overview-boxes .box-topic{
    font-size: 22px;
    font-weight: 500;
    margin-top: 2px;
    color:rgba(0, 128, 0, 0.973) ;
  }
  .overview-boxes .box-topic .numbers{
    font-size: 24px;
    font-weight: 500;
    margin-top: 4px;
    color:rgba(0, 128, 0, 0.973) ;
  }
  
