.container {
    margin-left: 70px;
    /* font-weight: 500; */
    text-align: left;
    font-family: sans-serif, bold, Arial, Helvetica;
    font-size: 14px;
    padding-bottom: 1rem;
    color: rgba(0, 128, 0, 0.973);
  }
  .buttons {
    display: flex;
    align-items: center;
    width: 100%;
    color:rgba(0, 128, 0, 0.973);
  }
  div input {
    margin-right: 10px;
  }
  form {
    margin: 0 auto;
    width: 300px;
  }
  form input {
    padding: 30px;
    width: 8cm;
  }
  form select {
    background-color: #ffffff;
    padding: 5px;
  }
  form label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    color: rgba(0, 128, 0, 0.973);
    align-items: left;
    font-size: medium;
    float: left;
  }
  input[type=submit]:hover {
    background-color: rgba(0, 128, 0, 0.973);
    color: #ffffff;
    border: none;
    border-radius: 10%;
    font-size: 18px;
    font-weight: 500;
}
  input[type=text] {
    background-color: #ffffff;
    color: #000;
    border-radius: 5px;
    border-style: none;
}
.bg-main {
    background-color: rgb(231, 229, 236);
    padding-top: 1rem;
    padding-bottom: 5rem;
    /* background-image: url(/img/corn-dusan.png); */
    }
.required-field::after {
  content: "*";
  color: red;
  font-size: small;
}
h2 {
  color: rgba(0, 128, 0, 0.973);
}
.signUp-box {
border-radius: 15px;
}
h4 {
  font-size:25px; 
  color:rgba(0, 128, 0, 0.973);
  padding-top:1rem; 
  height: 50px; 
  padding-left: 32rem;
  font-weight: bold;
 
}
