doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/nav.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp')
  title Karibu Groceries Ltd
body

  section.home-section
    nav
        .sidebar-button
            i.bx.bx-menu.sidebarBtn
            span.dashboard Dashboard
        .search-box
            input(type='text' placeholder='Search...')
            i.bx.bx-search
        .profile-details
            // <img src="images/profile.jpg" alt="">
            span.admin_name 
    
    script(src='/js/bootstrap.min.js')

