.sidebar
        br
        .logo-details
            //- img(src="/images/logo1.jpg" alt="logo" style="width:180px; height:100px")
            h3 KARIBU GROCERIES LTD
        ul.nav-links
            li
            a(href='/product')
                span.material-symbols-sharp
                    | shopping_bag
                span.links_name Purchases
            li
            a(href='/sale')
                span.material-symbols-sharp
                    | receipt_long
                span.links_name Sales
            li
            a(href='#')
                span.material-symbols-sharp
                    | inventory
                span.links_name Stock
            li
            a(href='#')
                span.material-symbols-sharp
                    | group
                span.links_name Customers
            li
            a(href='/workers')
                span.material-symbols-sharp
                    | person_filled
                span.links_name Suppliers
            li
            a(href="/logout")
                span.material-symbols-sharp
                    | logout
                span.links_name Logout